<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>
    <title></title>
</head>
<body>
    <div class="container">
        <h2 align="center">เพิ่มบทความ</h2>
        <%- messages() %>
        <% if(locals.errors) { %>
        <ul class = "alert alert-danger">
            <% Object.values(errors).forEach(function(error){ %>
                <li><%= error.msg %></li>
                <% }) %>
        </ul>
        <% } %>
        <form action="/blog/add" method = "post">
            <div class = "form-group">
                <label for="">ชื่อบทความ</label>
                <input type="text" name="name" value="" class="form-control">
            </div>
            <div class = "form-group">
                <label for="">รายละเอียด</label>
                <textarea name="description" id="" cols="80" rows="8" class="form-control"></textarea>
            </div>
            <div class = "form-group">
                <label for="">ผู้แต่ง</label>
                <input type="text" name="author" value="" class="form-control">
            </div>
            <input type="submit" name="" value="บันทึก" class="btn btn-primary">
        </form>
    </div>
    <script>
        $(function(){
            $('#messages').addClass('alert alert-success');
        })
        CKEDITOR.replace( 'description' );
    </script>
</body>
</html>