<div class="mt-5">
    <footer class="text-center text-lg-start text-dark">
      <section class="d-flex justify-content-between p-4 text-white" id="section1">
        <div class="me-5">
          <span></span>
        </div>
        <div>
          <a href="#" class="text-white me-4">
            <i class="fab fas-facebook"></i>
          </a>
          <a href="#" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/wave010/DBproject" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </section>
      
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">Dessert HUB</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto hr"/>
              <p>
                Dessert Hub where you can find a dessert recipe and tell you everythings you need to know
                such as ingredient or how to do it :)
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Pages</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto hr"/>
              <p>
                <a href="#!" class="text-dark">Home</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Recipe</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Review</a>
              </p>
              
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto hr"/>
              <p class="text-left "><i class="fas fa-home mr-3"></i> Khon kaen University</p>
              <p class="text-left "><i class="fas fa-envelope mr-3"></i> Wave and friends</p>
              
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div class="text-center p-3 div-foot">
        © 2022 Copyright: Wave and friends
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>