<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Review</title>
        <link rel="stylesheet" href="/stylesheets/nav.css">
        <link rel="stylesheet" href="/stylesheets/review.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/4c39758ed3.js" crossorigin="anonymous"></script>
    </head>
    <body>
      <%- include('nav.ejs') %>
        <!-- Nav bar -->
        <blockquote class="blockquote text-center pt-5">
          <p class="mb-0">แสดงความคิดเห็น</p>
        </blockquote>
        <div class="container mb-5">
            <form method="post">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="mb-3">กรอกความคิดเห็น</label>
                  <textarea class="form-control" name="textarea1" id="exampleFormControlTextarea1" rows="3" placeholder="แสดงความคิดเห็นของคุณ"></textarea>
                  <div class="text-right">
                    <button class="btn btn-outline-success " id="submit-btn" type="submit">โพสต์</button>
                  </div>
                </div>
            </form>
            <% Newreview.forEach(Newreview => { %>
              <div class="container   review-box ">
                <p><i class="fa-solid fa-comments"></i></p>
                <p class="text-left"><%= Newreview.RevDetail %></p>
                <p class="text-right time"><%= Newreview.date %></p>
              </div>
            <% }) %>
        </div>
        <!--footer -->
        <%- include('footer.ejs') %>
    </body>
</html>