* {
    padding: 0;
    margin: 0;
}
.login-box {
    margin-top: 20vh;
    background-color: blanchedalmond;
    border-radius: 10px;
    height: 20vh;
}
#login-btn {
    background-color: aquamarine;
    padding: 10px;
}
.navbar {
    background-image: url('../Artboard\ 1.png');
    height: 10vh;
}
.User-icon{
    font-size: 150px;
    margin-bottom: 20px;
    color: pink;
}
.createaccount{
    text-decoration: underline;
}
